[gcode_macro EXTRUDE_5]
description: Extrude 5mm of filament at 50mm/min
gcode:
    M83
    G1 E5 F50

[gcode_macro EXTRUDE_100]
description: Extrude 100mm of filament at 100mm/min
gcode:
    M83
    G1 E100 F100

[gcode_macro CALIBRATE_EXTRUSION_100]
gcode:
    # 1. Run conditional homing macro
    CG28
    
    # 2. Raise toolhead to Z100
    G90                              ; Set to absolute positioning
    G1 Z100 F600                     ; Move Z to 100mm at 10mm/s
    
    # 3. Heat extruder and wait
    M109 S225                        ; Set temp to 225C and wait
    
    # 4. Reset extruder and notify
    G92 E0                           ; Reset extruder position to 0
    M117 Beginning extrusion...      ; Display on LCD (if applicable)
    RESPOND MSG="Beginning extrusion..."
    
    # 5. Extrude 100mm over 30 seconds
    # Calculation: 100mm / 0.5 min = 200mm/min
    G1 E100 F200                     ; Extrude 100mm at F200
    
    # 6. Wait for 30 seconds
    G4 P30000                        ; Dwell for 30,000ms
    
    # 7. Notify status and instructions
    M117 30s elapsed. Extrusion complete.
    RESPOND MSG="30 seconds has elapsed and filament extrusion should be complete."
    RESPOND MSG="Cooldown will begin in 15 seconds."
    RESPOND MSG="Measure the distance to the marked point and continue calculating rotation distance manually."
    
    # 8. Wait for 15 seconds
    G4 P15000                        ; Dwell for 15,000ms
    
    # 9. Cooldown
    M104 S0                          ; Set extruder temp to 0
    M117 Cooldown initiated.
    RESPOND MSG="Cooldown is initiated."