[gcode_macro PRINT_END]
gcode:
  {% set th = printer.toolhead %}
  {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
  {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
  {% set z_safe = th.position.z + 25 * (1 if th.axis_maximum.z - th.position.z > 25 else -1) %}
  # SET_SKEW CLEAR=1
  RESPOND MSG=">>> PRINTING COMPLETE - POST-PRINT COOLDOWN BEGINNING <<<"
  RESPOND MSG=">>> TURNING OFF ALL HEATERS <<<"
  M104 S0
  M140 S0
  RESPOND MSG=">>> DISABLING ALL FILAMENT SENSORS <<<"
  FILAMENT_SENSORS_DISABLE
  RESPOND MSG=">>> RETRACTING 2.5MM OF FILAMENT <<<"
  G1 E-2.5 F3600                                    ; retract 10mm of filament
  G92 E0                                           ; Reset extruder
  RESPOND MSG=">>> PARKING TOOLHEAD <<<"
  G1 Z{th.position.z + 5} F1500
  G1 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 5} F1500  
  SAVE_GCODE_STATE NAME=STATE_PRINT_END            ; set the current g-code coordinate parsing state
  RESPOND MSG=">>> COOLING CHAMBER, EXTRUDER, AND BED <<<"
  STATUS_COOLING_RGB                                      ; set logo LEDs to 'cooling'
  M400                                             ; Clear buffer
  RESPOND MSG=">>> SETTING EXHAUST FAN, BED FANS, PART FAN, AND HOTEND FAN TO FULL SPEED <<<"
  EXHAUSTFANMAX                                    ; turn on exhaust fan at speed 'max'
  BEDFANSHIGH
  G90                                              ; set to absolute positioning
  RESPOND MSG=">>> STARTING COOLDOWN SEQUENCE FOR 02:30 <<<"
  _WAIT TIME=30
  RESPOND MSG=">>> COOLDOWN SEQUENCE - PROGRESS 00:30/02:30 <<<"
  _WAIT TIME=30
  RESPOND MSG=">>> COOLDOWN SEQUENCE - PROGRESS 01:00/02:30 <<<"
  HOUR_METER_STOP                                  ; stop hour meter from running
  RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0  ; set the current g-code coordinate parsing state
  _WAIT TIME=30
  RESPOND MSG=">>> COOLDOWN SEQUENCE - PROGRESS 01:30/02:30 <<<"
  _WAIT TIME=30
  RESPOND MSG=">>> COOLDOWN SEQUENCE - PROGRESS 02:00/02:30 <<<"
  RESPOND MSG=">>> SETTING EXHAUST FAN, BED FANS, PART FAN, AND HOTEND FAN TO LOW SPEED <<<"
  EXHAUSTFANLOW
  BEDFANSLOW
  _WAIT TIME=30
  RESPOND MSG=">>> COOLDOWN SEQUENCE COMPLETE <<<"
  RESPOND MSG=">>> TURNING OFF EXHUAST FAN, BED FANS, PART FAN, AND HOTEND FAN <<<"
  EXHAUSTFANOFF                                    ; turn off exhaust fan
  BEDFANSOFF
  STATUS_PART_READY_RGB                            ; set nozzle & logo LED effect to 'done'
  # total layers count = [total_layer_count]
  RESPOND MSG=">>> CLEARING BED MESH <<<"
  BED_MESH_CLEAR                                   ; clear bed mesh
  RESPOND MSG=">>> POST-PRINT COOLDOWN COMPLETE - PRINT JOB FINISHED! <<<"

