[gcode_macro _START_PRINT_A_PRE_BED_HEATSOAK]
description: FIRST start print macro
gcode:
	RESPOND MSG=">>> STARTING PRINT! <<<"
	# RESPOND MSG=">>> SET NOZZLE TEMP. TO 135°C & BED TEMP. TO 50°C <<<"
	# M104 S135
	# M140 S50
	RESPOND MSG=">>> HOMING ALL AXIS (ROUGH) <<<"
    STATUS_HOMING_RGB
	G28
	RESPOND MSG=">>> PARKING TOOLHEAD <<<"
	# G90
	# G1 X175 Y345 Z50 F1500

[gcode_macro _START_PRINT_B_PRE_NOZZLE_HEATSOAK]
description: SECOND start print macro
gcode:
	M117
	RESPOND MSG=">>> PARKING TOOLHEAD BY WIPE BUCKET <<<"
	PARK_TOOLHEAD_PURGE_LEFT
	RESPOND MSG=">>> HEATING NOZZLE TO FILAMENT PRINTING TEMP. <<<"
	
[gcode_macro _START_PRINT_C_POST_NOZZLE_HEATSOAK]	
description: THIRD start print macro
gcode:
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP %}
    {% set current_temp = printer.extruder.temperature %}
    {% set floor_temp = 150.0 %}
    {% set midpoint_temp = floor_temp + ((current_temp - floor_temp) / 2) %}
    
	STATUS_CLEANING_RGB
    RESPOND MSG=">>> ENABLING FILAMENT SENSORS <<<"
	FILAMENT_SENSORS_ENABLE
	RESPOND MSG=">>> PURGING 50MM OF FILAMENT <<<"
	G91
	G1 E50 F450
	RESPOND MSG=">>> RETRACTING 2.5MM OF FILAMENT <<<"
	G1 E-2.5 F3600
	G90
    NOZZLE_WIPE_PARK
    M104 S150
    RESPOND MSG=">>> WIPING NOZZLE <<<"
    NOZZLE_WIPE
    {% if current_temp > midpoint_temp %}
        M109 S{midpoint_temp}
    {% else %}
        RESPOND MSG=">>> MOVING TO SCRUB NOZZLE <<<"
    {% endif %}
	NOZZLE_SCRUB_PARK
    G91
    RESPOND MSG=">>> RETRACTING 2.5MM OF FILAMENT <<<"
	G1 E-2.5 F3600
	G90
    STATUS_COOLING_RGB
    RESPOND MSG=">>> RETURNING NOZZLE TEMP. TO 150°C  <<<"
    M109 S150
	RESPOND MSG=">>> SCRUBBING NOZZLE  <<<"
    NOZZLE_SCRUB
    RESPOND MSG=">>> LOWERING NOZZLE TEMP. TO 135°C  <<<"
    M109 S135
    RESPOND MSG=">>> HOMING ALL AXIS (CLEAN) <<<"
    STATUS_HOMING_RGB
	G28
	RESPOND MSG=">>> QUAD GANTRY LEVELING <<<"
    STATUS_LEVELING_RGB
	QUAD_GANTRY_LEVEL
	RESPOND MSG=">>> BUILDING ADAPTIVE BED MESH (K.A.M.P.) <<<"
    STATUS_MESHING_RGB
	BED_MESH_CALIBRATE
	RESPOND MSG=">>> PARKING TOOLHEAD NEAR PRINT START (K.A.M.P.) <<<"
	SMART_PARK
	RESPOND MSG=">>> HEATING NOZZLE TO FILAMENT PRINTING TEMP.<<<"
	
[gcode_macro _START_PRINT_D_NOZZLE_PRIME_START]
description: FOURTH start print macro
gcode:
	# RESPOND MSG=">>> PRIMING NOZZLE - EXTRUDING 3MM OF FILAMENT <<<"
	# G1 E3 F900
	RESPOND MSG=">>> PRIMING NOZZLE - PRINTING VORON LOGO (K.A.M.P.) <<<"
    STATUS_PRINTING_RGB
	VORON_PURGE
	RESPOND MSG=">>> BEGINNING PRINT JOB! <<<"

# IN ORCASLICER MACHINE START GCODE SECTION:
# ====================================================================================================
# _START_PRINT_A_PRE_BED_HEATSOAK

# _PRINT_WARMUP BED_TEMP=[bed_temperature_initial_layer_single]

# _START_PRINT_B_PRE_NOZZLE_HEATSOAK

# NOZZLE_HEAT_SOAK EXTRUDER_TEMP=[nozzle_temperature_initial_layer]

# _START_PRINT_C_POST_NOZZLE_HEATSOAK EXTRUDER_TEMP=[nozzle_temperature_initial_layer]

# NOZZLE_HEAT_SOAK EXTRUDER_TEMP=[nozzle_temperature_initial_layer]

# _START_PRINT_D_NOZZLE_PRIME_START