[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    # Parameters
    {% set e = params.E|default(2.5)|int %}                                          ; hotend prime amount (in mm)

    RESPOND MSG=">>> RESUMING PRINT <<<"
    HOUR_METER_START
    {% if printer['pause_resume'].is_paused|int == 1 %}
        RESPOND MSG=">>> ENABLING FILAMENT SENSORS <<<"
        FILAMENT_SENSORS_ENABLE                                                      ; enable filament sensors
        #INITIAL_RGB                                                                 ; reset LCD color
        RESPOND MSG=">>> SETTING IDLE TIMEOUT BACK TO DEFAULT <<<"
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}  ; set timeout back to configured value
        RESPOND MSG=">>> HEATING HOTEND <<<"
        {% if etemp > 0 %}
            M109 S{etemp|int}                                                        ; wait for hotend to heat back up
        {% endif %}
        RESPOND MSG=">>> RETURN TOOLHEAD TO PARK POSITION IN CASE MOVEMENT TOOK PLACE DURING PAUSE <<<"
        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100                     ; go back to parked position in case toolhead was moved during pause (otherwise the return zhop can error)
        G91                                                                          ; relative positioning
        M83                                                                          ; relative extruder positioning
        RESPOND MSG=">>> PRIMING NOZZLE AND RETURNING TO PRINT Z HEIGHT <<<"
        {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}
            G1 Z{zhop * -1} E{e} F900                                                ; prime nozzle by E, lower Z back down
        {% else %}
            G1 Z{zhop * -1} F900                                                     ; lower Z back down without priming (just in case we are testing the macro with cold hotend)
        {% endif %}
        RESPOND MSG=">>> RETURNING TO X & Y LOCATION <<<"
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60                          ; restore position
        BASE_RESUME                                                                  ; resume print
        RESPOND MSG=">>> PRINT RESUMED <<<"
    {% endif %}
