# M A C R O (S):
#  ____ ___ ____ ____ ___ _  _ ___  
#  [__   |  |__| |__/  |  |  | |__] 
#  ___]  |  |  | |  \  |  |__| |    
#                                   
# 	DESCRIPTION:
#		Macros that run automatically on firmware initialization/boot.
#   INCLUDED MACROS:
#       MACROS_INITIALIZE
# ============================================================================================
[delayed_gcode macros_initialize]
initial_duration: 1
gcode:
  SET_FILAMENT_SENSOR SENSOR=Toolhead_Filament_Switch_BOTTOM ENABLE=0
  SET_FILAMENT_SENSOR SENSOR=Toolhead_Filament_Switch_TOP ENABLE=0
  SET_FILAMENT_SENSOR SENSOR=BTT_SFS_Filament_Switch ENABLE=0
  SET_FILAMENT_SENSOR SENSOR=BTT_SFS_Encoder ENABLE=0
  RESPOND MSG=">>> VORON 2.4 PRO R2.7837 <<<"
  RESPOND MSG=">>> KLIPPER FIRMWARE SUCCESSFULLY LOADED <<<"
  RESPOND MSG=">>> GOOD LUCK AND HAPPY PRINTING <<<"