[gcode_macro UNSAFE_Z_RAISE_TINY]
description: Raise the gantry 1mm without homing Z axis first.
gcode:
  G90
  SET_KINEMATIC_POSITION Z=0
  G0 Z1 F600
    # Disable stepper motors
  M84

[gcode_macro UNSAFE_Z_RAISE_SMALL]
description: Raise the gantry 5mm without homing Z axis first.
gcode:
  G90
  SET_KINEMATIC_POSITION Z=0
  G0 Z5 F600
    # Disable stepper motors
  M84

[gcode_macro UNSAFE_Z_RAISE_MEDIUM]
description: Raise the gantry 10mm without homing Z axis first.
gcode:
  G90
  SET_KINEMATIC_POSITION Z=0
  G0 Z10 F600
    # Disable stepper motors
  M84

[gcode_macro UNSAFE_Z_RAISE_LARGE]
description: Raise the gantry 25mm without homing Z axis first.
gcode:
  G90
  SET_KINEMATIC_POSITION Z=0
  G0 Z25 F600
    # Disable stepper motors
  M84

[gcode_macro UNSAFE_Z_LOWER_TINY]
description: Lower the gantry 1mm without homing Z axis first.
gcode:
  G90
  SET_KINEMATIC_POSITION Z=0
  G0 Z-1 F600
    # Disable stepper motors
  M84

[gcode_macro UNSAFE_Z_LOWER_SMALL]
description: Lower the gantry 5mm without homing Z axis first.
gcode:
  G90
  SET_KINEMATIC_POSITION Z=0
  G0 Z-5 F600
    # Disable stepper motors
  M84