# [temperature_fan Controls_Cabinet_Fan]
# pin: ELECTRONICS_FANS
# sensor_type: temperature_host
# min_temp: 0
# max_temp: 85 #100
# target_temp: 60
# max_speed: 1.0
# control: watermark
# max_delta: 3.0
# kick_start_time: 0.5
# max_power: 1.0

[temperature_fan Controls_Cabinet_Fan]
pin: ELECTRONICS_FANS
sensor_type: temperature_host
max_power: 1.0
shutdown_speed: 1.0
cycle_time: 0.010
hardware_pwm: false
min_temp: 0
max_temp: 100
target_temp: 55.0
control: pid
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
off_below: 0.35
min_speed: 0.33

[controller_fan Stepper_Motor_Drivers_Fan]
pin: OCTOPUS_FANS
max_power: 1.0
fan_speed: 1.0
idle_timeout: 60
idle_speed: 0.75
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2, stepper_z3

# [fan_generic SB2240_Fan]
# pin: toolhead:SB2240_FAN
# cycle_time: 0.05
# kick_start_time: 0.5

[temperature_fan SB2240_Fan]
pin: toolhead:SB2240_FAN
sensor_type: temperature_mcu
sensor_mcu: toolhead
max_power: 1.0
shutdown_speed: 1.0
cycle_time: 0.010
hardware_pwm: false
min_temp: 0
max_temp: 100
target_temp: 55.0
control: pid
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
off_below: 0.51
min_speed: 0.5
kick_start_time: 0.5

[fan_generic BedFans]
pin: BED_FANS
cycle_time: 0.05
kick_start_time: 0.5

[fan_generic ExhaustFan]
pin: EXHAUST_FAN
cycle_time: 0.05
kick_start_time: 0.5

[heater_fan hotend_fan]
pin: toolhead:HOTEND_FAN
heater: extruder
heater_temp: 40.0

# [temperature_fan hotend_fan]
# pin: toolhead:HOTEND_FAN
# sensor_type: Generic 3950
# sensor_pin: HEATBREAK_TEMP
# # control: watermark
# # max_delta: 2.0
# control: pid
# pid_Kp: 2.0
# pid_Ki: 5.0
# pid_Kd: 0.5
# target_temp: 40.0
# off_below: 0.35
# shutdown_speed: 1.0
# kick_start_time: 0.5
# min_temp: 0
# max_temp: 80

[fan]
pin: toolhead:PART_FAN