[filament_switch_sensor BTT_SFS_Filament_Switch]
switch_pin: ^SFS_FILAMENT_SW
pause_on_runout: False
insert_gcode:
  RESPOND MSG=">>> BTT FILAMENT SENSOR SWITCH - INSERT DETECTED <<<"  
runout_gcode:
  RESPOND MSG=">>> BTT FILAMENT SENSOR SWITCH - RUNOUT DETECTED <<<"
    {% if printer.print_stats.state == "printing" %}
      _FIL_CHANGE_PARK
    {% endif %}
  
[filament_motion_sensor BTT_SFS_Encoder]
switch_pin: ^SFS_ENCODER
detection_length: 4.0 #2.88
extruder: extruder
pause_on_runout: False
insert_gcode:
  RESPOND MSG=">>> BTT FILAMENT SENSOR ENCODER - MOTION DETECTED <<<"
runout_gcode:
  RESPOND MSG=">>> BTT FILAMENT SENSOR ENCODER - STALL DETECTED <<<"
    {% if printer.print_stats.state == "printing" %}
      # _FIL_CHANGE_PARK
    {% endif %}

[filament_switch_sensor Toolhead_Filament_Switch_TOP]
switch_pin: TH_FILAMENT_SW_TOP
pause_on_runout: False
insert_gcode:
  RESPOND MSG=">>> TOP TOOLHEAD FILAMENT SWITCH - INSERT DETECTED <<<"  
runout_gcode:
  RESPOND MSG=">>> TOP TOOLHEAD FILAMENT SWITCH - RUNOUT DETECTED <<<"
    {% if printer.print_stats.state == "printing" %}
      _FIL_CHANGE_PARK
    {% endif %}

[filament_switch_sensor Toolhead_Filament_Switch_BOTTOM]
switch_pin: TH_FILAMENT_SW_BOTTOM
pause_on_runout: False
insert_gcode:
  RESPOND MSG=">>> BOTTOM TOOLHEAD FILAMENT SWITCH - INSERT DETECTED <<<"  
runout_gcode:
  RESPOND MSG=">>> BOTTOM TOOLHEAD FILAMENT SWITCH - RUNOUT DETECTED <<<" 
    {% if printer.print_stats.state == "printing" %}
      _FIL_CHANGE_PARK
    {% endif %}