# B Motor - LEFT Side Gantry - Main Board Plug Motor1
[tmc2209 stepper_x]
uart_pin: X_TMCUART
interpolate: False
run_current: 1.25 #0.8
#sense_resistor: 0.110
stealthchop_threshold: 0

# A Motor - RIGHT Side Gantry - Main Board Plug Motor2 
[tmc2209 stepper_y]
uart_pin: Y_TMCUART
interpolate: False
run_current: 1.25
#sense_resistor: 0.110
stealthchop_threshold: 0

# Z0 Motor - FRONT-LEFT - Main Board Plug Motor3A
[tmc2209 stepper_z]
uart_pin: Z_TMCUART
interpolate: False
run_current: 1.0
#sense_resistor: 0.110
stealthchop_threshold: 0

# Z1 Motor - BACK-LEFT - Main Board Plug Motor5
[tmc2209 stepper_z1]
uart_pin: Z1_TMCUART
interpolate: False
run_current: 1.0
#sense_resistor: 0.110
stealthchop_threshold: 0

# Z2 Motor - BACK-RIGHT - Main Board Plug Motor6 
[tmc2209 stepper_z2]
uart_pin: Z2_TMCUART
interpolate: False
run_current: 1.0
#sense_resistor: 0.110
stealthchop_threshold: 0

# Z3 Motor - FRONT-RIGHT - Main Board Plug Motor7 
[tmc2209 stepper_z3]
uart_pin: Z3_TMCUART
interpolate: False
run_current: 1.0
#sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 extruder]
uart_pin: toolhead:E_TMCUART
interpolate: False
run_current: 0.65
stealthchop_threshold: 0