# B Motor - LEFT Side Gantry - Main Board Plug Motor1
[stepper_x]
step_pin: X_STEP
dir_pin: X_DIR
enable_pin: !X_ENABLE
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: ^toolhead:X_ENDSTOP
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 75   #Max 100
homing_retract_dist: 17.5
homing_positive_dir: true

# A Motor - RIGHT Side Gantry - Main Board Plug Motor2 
[stepper_y]
step_pin: Y_STEP
dir_pin: Y_DIR
enable_pin: !Y_ENABLE
microsteps: 32
rotation_distance: 40
endstop_pin: ^Y_ENDSTOP
full_steps_per_rotation:200  
position_min: 0
position_endstop: 355
position_max: 355
homing_speed: 75  #Max 100
homing_retract_dist: 17.5
homing_positive_dir: true

# Z0 Motor - FRONT-LEFT - Main Board Plug Motor3A
[stepper_z]
step_pin: Z_STEP
dir_pin: Z_DIR
enable_pin: !Z_ENABLE
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 275
position_min: -5
homing_speed: 7.5
second_homing_speed: 2.5
homing_retract_dist: 2.5

# Z1 Motor - BACK-LEFT - Main Board Plug Motor5
[stepper_z1]
step_pin: Z1_STEP
dir_pin: !Z1_DIR
enable_pin: !Z1_ENABLE
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

# Z2 Motor - BACK-RIGHT - Main Board Plug Motor6 
[stepper_z2]
step_pin: Z2_STEP
dir_pin: Z2_DIR
enable_pin: !Z2_ENABLE
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

# Z3 Motor - FRONT-RIGHT - Main Board Plug Motor7 
[stepper_z3]
step_pin: Z3_STEP
dir_pin: !Z3_DIR
enable_pin: !Z3_ENABLE
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32