[temperature_sensor 1._Controls_RPi_4b_Temperature]
sensor_type: temperature_host
min_temp: 10
max_temp: 120

[temperature_sensor 2._Controls_Octopus_Pro_Temperature]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 110

[temperature_sensor 3._Heatbreak_Temperature]
sensor_type: Generic 3950
sensor_pin: HEATBREAK_TEMP

[temperature_sensor 4._Toolhead_SB2040_Temp]
sensor_type: temperature_mcu
sensor_mcu: toolhead

[temperature_sensor 5._Bed_Surface_Temperature]
sensor_type: Generic 3950
sensor_pin: BED_SURFACE_TEMP

[temperature_sensor 6._Chamber_Temperature]
sensor_type: ATC Semitec 104NT-4-R025H42G #PT1000
sensor_pin: CHAMBER_TEMP
# pullup_resistor: 4300

[temperature_sensor 7._Exhaust_Temperature]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EXHAUST_TEMP