# ====== !! N O T E !! ========================================
#   THIS HARDWARE CONFIG SECTION WAS MOVED TO PRINTER.CFG
#   TO ALLOW SAVE_CONFIG COMMAND TO PROPERLY SAVE NEW VALUES
#   AFFTER PID TUNING! CHANGE PARAMETERS THERE - THIS FILE
#   PRIMARILY EXISTS FOR REFERENCE/ROLLBACK OPTIONS NOW. 
# =============================================================
#
# Extruder Motor - Toolhead Board
# [extruder]
# step_pin: toolhead:E_STEP
# dir_pin: toolhead:E_DIR
# enable_pin: !toolhead:E_ENABLE
# microsteps: 16
# rotation_distance: 42.37 
#   # 45.63 # 12.3mm off 
#   # 47.088 # OEM - 18.6mm off
# gear_ratio: 9:1
# nozzle_diameter: 0.6
# filament_diameter: 1.750
# heater_pin: toolhead:E_HEATER
# max_power: 1.0
# sensor_type: PT1000
# sensor_pin: toolhead:E_TEMPERATURE
# pullup_resistor: 2200
# min_temp: 0
# max_temp: 365
# max_extrude_only_distance: 101.00
# min_extrude_temp: 0
# # pressure_advance: 0.0565
# control: pid
# pid_Kp: 37.709
# pid_Ki: 10.930
# pid_Kd: 32.525